In [24]:
import pandas as pd

In [25]:
items = ['larry', 'wall', 'guido', 'rossum', 'matz']
pd.Series(items)

0     larry
1      wall
2     guido
3    rossum
4      matz
dtype: object

In [26]:
lottery = [12, 34 ,2, 5, 4, 6, 5, 7]
pd.Series(lottery)

0    12
1    34
2     2
3     5
4     4
5     6
6     5
7     7
dtype: int64

In [27]:
regeistration = [True, False, False, True, True]
pd.Series(regeistration)

0     True
1    False
2    False
3     True
4     True
dtype: bool

Series from the dict

In [28]:
info = dict(apple='an healthy fruit', cyan='a color', larry='an author')
pd.Series(info)

apple    an healthy fruit
cyan              a color
larry           an author
dtype: object

##attributes

In [29]:
pokemon = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [30]:
google = pd.read_csv('google_stock_price.csv', squeeze=True)
google.head()

google.tail(2)

3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [31]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [32]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [33]:
google.dtype

dtype('float64')

In [34]:
google.is_unique

False

In [35]:
pokemon.is_unique

True

In [36]:
pokemon.ndim

1

In [37]:
pokemon.shape

(721,)

In [38]:
google.size

3012

In [39]:

pokemon.name = 'ravi'
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: ravi, dtype: object

In [40]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: ravi, dtype: object

In [41]:
pokemon.head().sort_values(ascending=False)

2      Venusaur
1       Ivysaur
4    Charmeleon
3    Charmander
0     Bulbasaur
Name: ravi, dtype: object

In [43]:
pokemon.head(n=20)

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
Name: ravi, dtype: object

In [45]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: ravi, dtype: object

In [46]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: ravi, Length: 721, dtype: object

In [47]:
pokemon.sort_values(inplace=True)

In [48]:
pokemon

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: ravi, Length: 721, dtype: object

In [49]:
pokemon.sort_index()

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: ravi, Length: 721, dtype: object

In [52]:
pokemon.sort_index(ascending=False, inplace=True)

In [54]:
pokemon.index

Int64Index([720, 719, 718, 717, 716, 715, 714, 713, 712, 711,
            ...
              9,   8,   7,   6,   5,   4,   3,   2,   1,   0],
           dtype='int64', length=721)

In [55]:
123 in pokemon.index

True

In [57]:
'Noivern' in pokemon.values

True

# indexing

In [62]:
pokemon[0]

'Bulbasaur'

In [60]:
pokemon[:10]

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
715      Xerneas
714      Noivern
713       Noibat
712      Avalugg
711     Bergmite
Name: ravi, dtype: object

In [61]:
pokemon[[0, 3, 5]]

0     Bulbasaur
3    Charmander
5     Charizard
Name: ravi, dtype: object

Extracting values by Index Label

In [72]:
pokemon = pd.read_csv('pokemon.csv', index_col= 'Pokemon', squeeze=True)
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [73]:
pokemon[100:130]

Pokemon
Electrode     Electric
Exeggcute        Grass
Exeggutor        Grass
Cubone          Ground
Marowak         Ground
Hitmonlee     Fighting
Hitmonchan    Fighting
Lickitung       Normal
Koffing         Poison
Weezing         Poison
Rhyhorn         Ground
Rhydon          Ground
Chansey         Normal
Tangela          Grass
Kangaskhan      Normal
Horsea           Water
Seadra           Water
Goldeen          Water
Seaking          Water
Staryu           Water
Starmie          Water
Mr. Mime       Psychic
Scyther            Bug
Jynx               Ice
Electabuzz    Electric
Magmar            Fire
Pinsir             Bug
Tauros          Normal
Magikarp         Water
Gyarados         Water
Name: Type, dtype: object

In [74]:
pokemon['Electrode']

'Electric'

In [75]:
pokemon[['Tauros', 'Magikarp']]

Pokemon
Tauros      Normal
Magikarp     Water
Name: Type, dtype: object

In [78]:
pokemon['Magmar':'Gyarados']

Pokemon
Magmar        Fire
Pinsir         Bug
Tauros      Normal
Magikarp     Water
Gyarados     Water
Name: Type, dtype: object

# get() methods

In [80]:
pokemon.sort_index(inplace=True)
pokemon

Pokemon
Abomasnow        Grass
Abra           Psychic
Absol             Dark
Accelgor           Bug
Aegislash        Steel
Aerodactyl        Rock
Aggron           Steel
Aipom           Normal
Alakazam       Psychic
Alomomola        Water
Altaria         Dragon
Amaura            Rock
Ambipom         Normal
Amoonguss        Grass
Ampharos      Electric
Anorith           Rock
Arbok           Poison
Arcanine          Fire
Arceus          Normal
Archen            Rock
Archeops          Rock
Ariados            Bug
Armaldo           Rock
Aromatisse       Fairy
Aron             Steel
Articuno           Ice
Audino          Normal
Aurorus           Rock
Avalugg            Ice
Axew            Dragon
                ...
Weepinbell       Grass
Weezing         Poison
Whimsicott       Grass
Whirlipede         Bug
Whiscash         Water
Whismur         Normal
Wigglytuff      Normal
Wingull          Water
Wobbuffet      Psychic
Woobat         Psychic
Wooper           Water
Wormadam           Bug
Wurmple            Bug
Wynaut         Psychic
Xatu           Psychic
Xerneas          Fairy
Yamask           Ghost
Yanma              Bug
Yanmega            Bug
Yveltal           Dark
Zangoose        Normal
Zapdos        Electric
Zebstrika     Electric
Zekrom          Dragon
Zigzagoon       Normal
Zoroark           Dark
Zorua             Dark
Zubat           Poison
Zweilous          Dark
Zygarde         Dragon
Name: Type, Length: 721, dtype: object

# math operations pandas series

In [81]:
google = pd.read_csv('google_stock_price.csv', squeeze=True)

In [83]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [84]:
google.count()

3012

In [85]:
google.sum()

1006942.0

In [86]:
google.mean()

334.31009296148744

In [87]:
google.sum() / google.count()

334.3100929614874

In [88]:
google.std()

173.18720477113106

In [89]:
google.min()

49.95

In [90]:
google.max()

782.22

In [91]:
google.median()

283.315

In [92]:
google.mode()

0    291.21
dtype: float64

In [95]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

# idxmax, idxmin, index max /min

In [97]:
google.max()

782.22

In [99]:
google.idxmax()

3011

In [100]:
google[google.idxmax()]

782.22

In [101]:
pokemon.head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [105]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [106]:
pokemon.value_counts().sum()

721

In [107]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [119]:
passwd = pd.read_csv('/etc/passwd', header=None, delimiter=':')
passwd[6].value_counts()

/sbin/nologin     55
/bin/bash          4
/bin/sync          1
/sbin/halt         1
/sbin/shutdown     1
Name: 6, dtype: int64

In [121]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

# .apply

In [124]:
def performance(price):
    if price < 300:
        return 'ok'
    elif 300 <= price <= 600:
        return 'satisfy'
    else:
        return 'incredible'

google.apply(performance).tail()

3007    incredible
3008    incredible
3009    incredible
3010    incredible
3011    incredible
Name: Stock Price, dtype: object

In [125]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [126]:
google.apply(lambda n : n + 1).head()

0    51.12
1    55.10
2    55.65
3    53.38
4    53.95
Name: Stock Price, dtype: float64

In [128]:
pokemon_names = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon_names.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [129]:
pokemon_types = pd.read_csv('pokemon.csv', index_col='Pokemon', squeeze=True)
pokemon_types.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [130]:
pokemon_names.map(pokemon_types).head()

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object

In [132]:
pokemon_names = pd.read_csv('pokemon.csv', usecols=['Pokemon'], squeeze=True)
pokemon_types = pd.read_csv('pokemon.csv', index_col='Pokemon', squeeze=True).to_dict()

In [135]:
pokemon_names.map(pokemon_types).head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object